@model IEnumerable<FershGreen.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFG.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.5.1.slim.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">档案管理</a>
            <a><cite>信息管理</cite></a>
        </span>
    </ol>
</nav>
<div class="container">
    <div class="row">

        <div class="col-sm-10 form-inline" style="padding-left:600px;">
            <form action="" method="post" class="form-inline">
                <input type="text" placeholder="请输入相关信息" class="form-control" name="Name" value="@ViewBag.Name" style="width:250px;" />
                <input type="submit" value="搜索" class="btn btn-success" />
                </form>
        </div>
        <div class="col-sm-2" style="padding-left:50px;">
            <a href="/Customer/Create" class="btn btn-primary">添加</a>
        </div>
    </div>
</div>
<br />
<div class="" style="background: #aeb3b5; height: 25px; line-height: 25px;">
    &nbsp;
    <svg class="bi bi-bookmarks-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="margin-top:-5px">
        <path fill-rule="evenodd" d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12l-5-3-5 3V4z" />
        <path d="M14 14l-1-.6V2a1 1 0 0 0-1-1H4.268A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v12z" />
    </svg>
    <span>客户档案管理</span>
</div>

<table class="table table-striped table-hover" style="text-align:center;">

    <tr>
        <th>
            编号
        </th>
        <th>
           姓名
        </th>
        <th>
           性别
        </th>
        <th>
           名族
        </th>
        <th>
            婚姻状况
        </th>
        <th>
            家庭住址
        </th>
        <th>
           联系电话
        </th>
        <th>
            主治医生
        </th>
        <th>
            操作
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (Session["Name"].ToString() == item.CusDoctor.ToString() || Session["Role"].ToString() == "主任医生")
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CusID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CusName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CusSex)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CusNation)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CusMarriage)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CusAddress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CusTelephone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CusDoctor)
    </td>
    <td>
        @Html.ActionLink("编辑", "Edit", new { id = item.CusID }) |
        @Html.ActionLink("详情", "Details", new { id = item.CusID }) |
        <a href="/Customer/Delete/@item.CusID" onclick="return confirm('确定要删除吗？')">删除</a>
    </td>
</tr>
        }
    }
</table>
@*分页*@
<div style="position:absolute;top:500px;height:auto;width:1100px;">
    <div classs="row">
        <div class="col-lg-10">
            <label style="color:white;">总共 @ViewBag.totalCount 行</label>
            <select onchange="window.location = this.value;">
                @{
                    int[] count = new[] { 2, 4, 5, 10, 15 };
                }
                @foreach (var item in count)
                {
                    if (item.Equals(ViewBag.pageCount))
                    {
                        <option value="/Customer/Index?pageIndex=@ViewBag.pageIndex&pageCount=@item" selected>@item</option>
                    }
                    else
                    {
                        <option value="/Customer/Index?pageCount=@item">@item</option>
                    }

                }
            </select>
        </div>
        <div class="col-lg-4" style="position:absolute;top:-12px;left:700px;height:auto;width:1100px;">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="/Customer/Index?pageCount=@ViewBag.pageCount">首页</a>
                    </li>

                    @if (@ViewBag.pageIndex > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Customer/Index?pageIndex=@(ViewBag.pageIndex-1)&pageCount=@ViewBag.pageCount">上一页</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#">上一页</a>
                        </li>
                    }

                    <li class="page-item">
                        <a class="page-link" href="#">@ViewBag.pageIndex</a>
                    </li>

                    @if (@ViewBag.pageIndex < @ViewBag.totalPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Customer/Index?pageIndex=@(ViewBag.pageIndex+1)&pageCount=@ViewBag.pageCount">下一页</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#">下一页</a>
                        </li>
                    }

                    <li class="page-item"><a class="page-link" href="/Customer/Index?pageIndex=@ViewBag.totalPage&pageCount=@ViewBag.pageCount">末页</a></li>
                </ul>
            </nav>
        </div>
    </div>

</div>@*分页尾*@

